/*----------------------------------------------- colors */

.my-colors {
    background-color: #0C6567;
    background-color: #ABCACB;
    background-color: #962100;
    background-color: #D74636;
    background-color: #00C598;
}



/* ---------------------------------universal styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

}

h2 {
    font-size: 2rem;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
    text-align: center;
}

.btn:active {
    transform: scale(0.96);
}

/* --------------------------------------- nav -------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background-color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li a{
    padding: 1.3rem;
    transition: color 0.6s ease;
}

nav li a:hover {
    color: #D74636;
}

nav .logo-container {
    max-width: 6rem;
}

nav img {
    width: 100%;
}

nav .contact-button {
    padding: 1rem;
    color: white;
    background-color: #0C6567;
    border-radius: 10%;
    margin: 0.3rem;
    transition: background-color 0.5s ease;
}

nav .contact-button:hover {
    background-color: #617C7C;
}




@media only screen and (max-width: 500px) {
    
    nav li a {
        padding: 0 0.5rem;
        font-size: 0.9rem;
    }

    nav .contact-button {
        padding: 0.5rem 0.6rem;
        margin-right: 0.1rem;
        border-radius: 9px;
        font-size: 0.9rem;
    }

    nav #hobbies {
        display: none;
    }

}

/*---------------------------------------- Main Hero */
.main-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ABCACB;
    padding: 2.5rem;
}

.main-hero .profile-frame {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    /* border: solid 1px #CCDFD5; */
    height: 90px;
    width: 90px;
    margin-top: 1rem;
}

.profile-frame img {
    width: auto;
    height: 100%;
    border-radius: 50%;
}

.main-hero h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 600;
    margin: 0.5rem 0;
}

@media only screen and (max-width: 500px) {
    .main-hero h1 {
        font-size: 2.5rem;
    }
    .main-hero h2 {
        font-size: 2rem;
    }
}


/* --------------------------------------------Main Block */

.main-block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20%;
    padding: 5% 20%;
    line-height: 1.75rem;
}

.main-block-container .about-me {
    flex: 1 1 50%;
}

.main-block-container .about-me a {
    text-decoration: underline;
    color: #428672;
}

.main-block-container .skills {
    flex: 1 1 15%;
    min-width: 15ch;
}


.skills i {
    font-size: 2rem;
    color: #0C6567;
}

.main-block-container h3 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem 0;
}

@media only screen and (max-width: 768px) {
    .main-block-container {
        padding: 1.5rem 2.5rem;
    }

    .main-block-container .skills {
        padding: 4rem 0 3rem;
    }
}

/*--------------------------------------------Portfolio Section */

.portfolio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: #ABCACB;
}

.portfolio-section h1 {
    padding: 1rem 0 3.5rem;
    font-weight: 600;
    font-size: 3.5rem;
    color: #294B4D;
}



.portfolio-section .portfolio-grid-container {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    justify-items: center;
    max-width: fit-content;
}

.portfolio-grid-container .grid-child {
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.portfolio-grid-container h4 {
    padding: 1rem;
    background-color: #0C6567;
    color: white;
}

.portfolio-grid-container img {
    max-width: 100%;
  }

.portfolio-section .quote-button {
    background-color: #D74636;
    color: white;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 10px;
    margin-top: 5rem;
    transition: background-color 0.7s ease;
}

.portfolio-section .quote-button:hover {
    background-color: #617C7C;
}

@media only screen and (max-width: 768px) {
    .portfolio-section {
        padding: 15%;
    }
    .portfolio-section h1 {
        font-size: 3rem;
        padding: 1rem 0 2rem;
    }
    .portfolio-section .portfolio-grid-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 500px){
    .portfolio-section h1 {
        font-size: 2.5rem;
        padding: 1rem 0 2rem;
    }

    .portfolio-section h4 {
        font-size: 1.2rem;
    }

    .portfolio-section .quote-button {
        margin: 3.5rem 0 1rem;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 350px){
 
    .portfolio-section .quote-button {
        margin: 2.5rem 0 1rem;
        font-size: 1rem;
    }
}
/* ------------------------------------------------Contact Section */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15%;
    padding: 2rem;
    background-color: #0C6567;
    color: white;
}

.contact-container form {
    display: inline-block;
}

.contact-container .grid-form {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "fname lname"
        "email telnum"
        "message message";
}

.grid-form .fname{
    grid-area: fname;
}

.grid-form .lname {
    grid-area: lname;
}

.grid-form .email {
    grid-area: email;
}

.grid-form .telnum {
    grid-area: telnum;
}

.grid-form .message {
    grid-area: message;
}

.message textarea[name=message] {
    width: 100%;
}

.contact-container .submit-button {
    background-color: #D74636;
    color: #fff;
    padding: 0.4rem 1.2rem;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.contact-container .submit-button:hover {
    background-color: #617C7C;
    /* color: #0C6567; */
    cursor: pointer;
}


@media only screen and (max-width: 540px){
    .contact-container .grid-form {
        display: grid;
        row-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "fname"
            "lname"
            "email"
            "telnum"
            "message";
    }
    .grid-form input {
        width: 100%;
    }
    .contact-container .submit-button {
     width: 100%;
    }
}


/*----------------------------------- Social Meadia */
.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-container h5 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #0C6567;
    padding: 0.8rem 0 0;
}

.social-container .social-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.social-container i {
    color: #0C6567;
    font-size: 2rem;
    padding: 0.8rem;
}


/* ---------------------------------------- Footer */

footer {
    background-color: #0C6567;
    color: white;
    padding: 0.2rem;
    font-size: 0.8rem;
}

