/* colors */
.joy-colors {
    background-color: #FACDCB;
    background-color: #CCDFD5;
    background-color: #0C6567;
    /* background-color: #FDDEC0; */
    color: #183843;
}

.my-colors {
    background-color: #FADADD;
}