/*----------------------------------------------- colors */

:root {
    --green: #0C6567;
    --lightgreen: #ABCACB;
    --darkgreen: #133b3b;
    --orange: #D74636;
    --gray: rgba(20, 28, 58, 0.5);
    --shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
    --text-color: #141c3a;
    --white: #ffffff;
  }
  


.my-colors {
    

    background-color: #962100;
    background-color: #D74636;
    background-color: #00C598;
}



/* ---------------------------------universal styles */
html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }


html {
    height: 100%;
    font-size: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;

}


h2 {
    font-size: 2rem;
    text-align: center;
}



h4 {
    font-size: 1.5rem;
    text-align: center;
}

.btn:active {
    transform: scale(0.96);
}

/* --------------------------------------- nav -------*/

header {
    padding-top: 80px;
}

nav {
    position: fixed;
    width: 100%;
    box-shadow: var(--shadow);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background-color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li a{
    margin: 1.3rem;
    padding-bottom: 0.2rem;
    transition: border-bottom 0.3s;
}

nav li a:hover {
    border-bottom: 5px solid #D74636;
}

nav .logo-container {
    max-width: 6rem;
}

nav img {
    width: 100%;
}

nav .contact-button {
    padding: 1rem;
    color: white;
    background-color: #0C6567;
    border-radius: 10%;
    margin: 0.3rem;
    transition: background-color 0.5s ease;
}

nav .contact-button:hover {
    background-color: #198576;
}




@media only screen and (max-width: 500px) {
    
    nav li a {
        padding: 0 0.5rem;
        font-size: 0.9rem;
    }

    nav .contact-button {
        padding: 0.5rem 0.6rem;
        margin-right: 0.1rem;
        border-radius: 9px;
        font-size: 0.9rem;
    }

    nav #hobbies {
        display: none;
    }

}

/*---------------------------------------- Main Hero */

.main-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ABCACB;
    padding: 2.5rem;
}

.main-hero .profile-frame {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    /* border: solid 1px #CCDFD5; */
    height: 90px;
    width: 90px;
    margin-top: 1rem;
}

.profile-frame img {
    width: auto;
    height: 100%;
    border-radius: 50%;
}

.main-hero h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 600;
    margin: 0.5rem 0;
}

.main-hero .portfolio-btn {
    background-color: #D74636;
    color: white;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 10px;
    margin-top: 5rem;
    transition: background-color 0.7s ease;
}

.main-hero .portfolio-btn:hover {
    background-color: #198576;
}

@media only screen and (max-width: 500px) {
    .main-hero h1 {
        font-size: 2.5rem;
    }
    .main-hero h2 {
        font-size: 2rem;
    }
}


/* --------------------------------------------Main Block */

.main-block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 25%;
    padding: 5% 15%;
    line-height: 1.75rem;
}

.main-block-container .about-me {
    flex: 1 1 50%;
}

.about-me a {
    text-decoration: underline;
    color: #428672;
}

.about-me h3 {
    font-size: 2rem;
}



/* ---------------------------------------------------  skills */
.main-block-container .skills {
    flex: 1 1 18%;
    min-width: 15ch;
}

.skills h3 {
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.8px;
    margin-bottom: 1.4rem;
}

ul.skill-icon-container {
    display: grid;
    grid-template-columns: 95px 95px;
    grid-auto-rows: minmax(95px, auto);
    justify-content: center;
    gap: 1rem;
    width: 100%;

} 

.skills li {
    color: var(--white);
    background-color: var(--green);
    text-align: center;
    border-radius: 5px;
    padding: 0.8rem 0.5rem 0 0.5rem;



}


.skills i, .skills iconify-icon {
    font-size: 1.6rem;
    color: var(--white);
    height: 32px;
    
}

.skills li p {
    font-size: 0.8rem;
   

    
}




@media only screen and (max-width: 768px) {
    .main-block-container {
        padding: 1.5rem 2.5rem;
    }

    .main-block-container .skills {
        padding: 4rem 0 3rem;
    }
}

/*--------------------------------------------Portfolio Section */

.portfolio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 10% 10% 10%;
    background-color: var(--lightgreen);
}

.portfolio-section h1 {
    color: var(--darkgreen);
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 4rem;
    /* letter-spacing: 0.4ch; */
}



.portfolio-section .portfolio-grid-container {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    justify-items: center;
    max-width: fit-content;
}

.portfolio-grid-container .grid-child {
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    position: relative;
    background-color: #fff;
}


.portfolio-grid-container img {
    display: block;
    max-width: 100%;
    opacity: 1;
    transition: opacity 0.6s ease;
  }

.portfolio-grid-container .button-overlay {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding: 3%;
    opacity: 0;
    transition: opacity 0.6s ease; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    color: #0C6567;
}

.portfolio-grid-container .button-overlay:hover {
    opacity: 1;
}

.portfolio-grid-container .grid-child:hover img {
    opacity: 0.2;
}

.button-overlay .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-description h4 {
    color: var(--green);
    font-weight: 600;
    padding-top: 5%;
}

.project-description p {
    color: #000;
    padding-top: 2%;
}

.button-overlay .btn-container {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}

.button-overlay .btn {
    min-width: 10rem;
    background-color: #0C6567;
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    text-align: center;
    margin: 0.4rem 1rem;
    box-shadow: 2px 3px #494949;
}

.button-overlay .btn:active {
    box-shadow: 0 0;
}




@media only screen and (max-width: 768px) {
    .portfolio-section {
        padding: 15%;
    }
    .portfolio-section h1 {
        font-size: 3rem;
        padding: 1rem 0 2rem;
    }
    .portfolio-section .portfolio-grid-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 500px){
    .portfolio-section h1 {
        font-size: 2.5rem;
        padding: 1rem 0 2rem;
    }

    .portfolio-section h4 {
        font-size: 1.2rem;
    }


    .button-overlay .project-description h4 {
        font-size: 1rem;
    }
    .button-overlay .project-description p {
        font-size: 0.8rem;
    }

    .button-overlay .btn-container {
        padding-top: 3%;
    }

    .button-overlay .btn {
        margin-bottom: 1%;
    }
    
}

@media only screen and (max-width: 350px){
    .portfolio-section .quote-button {
        margin: 2.5rem 0 1rem;
        font-size: 1rem;
    }
}


/* ------------------------------------------------------------------------------- Footer */

footer {
    background-color: #0C6567;
    color: white;
    padding: 0.2rem;
    font-size: 0.8rem;
}


/*--------------------------------- Social Media */
.social-container {
    align-items: center;
    padding: 2rem 0;
}

.social-container h5 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    padding-bottom: 2.5rem;
}


.social-container .icon-container {
    display: flex;
    justify-content: space-between;
    width: clamp(320px, 60vw, 500px);
    margin: 0 auto;
}

.icon-container i {
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.6rem;
    border: 0.18rem solid var(--white);
    border-radius: 50%;
}

.icon-container i:hover {
    color: #729ea0;
    border-color: #779d9f;
}

